<header>
  <section class="header">
    <a class="logo" href="https://www.lot.com"></a>
    <nav class="mobile-hide" id="nav">
      <a href="{{ 'menu.first.url' | translate }}" id="book" lcmOnHover
        (activeNavLink)="activateNavLink($event)">{{ 'menu.first.title' | translate }}</a>
      <a href="{{ 'menu.second.url' | translate }}" id="d&o" lcmOnHover
        (activeNavLink)="activateNavLink($event)">{{ 'menu.second.title' | translate }}</a>
      <a href="{{ 'menu.third.url' | translate }}" id="pft" lcmOnHover (activeNavLink)="activateNavLink($event)"
        class="medium-hide">{{ 'menu.third.title' | translate }}</a>
      <a href="{{ 'menu.fourth.url' | translate }}" id="dtf" lcmOnHover (activeNavLink)="activateNavLink($event)"
        class="medium-hide">{{ 'menu.fourth.title' | translate }}</a>
      <a href="{{ 'menu.fifth.url' | translate }}" id="cs" lcmOnHover (activeNavLink)="activateNavLink($event)"
        class="medium-hide">{{ 'menu.fifth.title' | translate }}</a>
      <a href="{{ 'menu.sixth.url' | translate }}" id="m&m" class="medium-hide">{{ 'menu.sixth.title' | translate }}</a>
      <a href="{{ 'menu.seventh.url' | translate }}" id="cargo">{{ 'menu.seventh.title' | translate }}</a>
    </nav>
    <section class="mobile-menu mobile-show">
      <mat-menu #mobileMenu="matMenu" xPosition="before">
        <a href="{{ 'menu.first.url' | translate }}" class="medium-hide--mobile"><button
            mat-menu-item>{{ 'menu.first.title' | translate }}</button></a>
        <a href="{{ 'menu.second.url' | translate }}" class="medium-hide--mobile"><button
            mat-menu-item>{{ 'menu.second.title' | translate }}</button></a>
        <a href="{{ 'menu.third.url' | translate }}"><button
            mat-menu-item>{{ 'menu.third.title' | translate }}</button></a>
        <a href="{{ 'menu.fourth.url' | translate }}"><button
            mat-menu-item>{{ 'menu.fourth.title' | translate }}</button></a>
        <a href="{{ 'menu.fifth.url' | translate }}"><button
            mat-menu-item>{{ 'menu.fifth.title' | translate }}</button></a>
        <a href="{{ 'menu.sixth.url' | translate }}"><button
            mat-menu-item>{{ 'menu.sixth.title' | translate }}</button></a>
        <a href="{{ 'menu.seventh.url' | translate }}" class="medium-hide--mobile"><button
            mat-menu-item>{{ 'menu.seventh.title' | translate }}</button></a>
      </mat-menu>
    </section>
    <div class="settings">
      <button mat-button [matMenuTriggerFor]="mobileMenu" class="mobile-show">
        <mat-icon style="color: #083377">menu</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="langMenu">
        <span class="selected-lang"><span class="{{language}}"></span></span>
      </button>
      <mat-menu #langMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="changeLanguage('pl')"><span class="pl"></span> Polski</button>
        <button mat-menu-item (click)="changeLanguage('en')"><span class="en"></span> English</button>
      </mat-menu>
      <button mat-button>
        <a href="{{ 'settings.login.url' | translate }}">
          <mat-icon svgIcon="profile" class="profile-icon"></mat-icon>{{ 'settings.login.title' | translate }}
        </a>
      </button>
    </div>
  </section>
  <section class="top-image">
    <!-- <div class="shadow-mask"></div> -->
    <!-- <h1>{{ 'view.title' | translate }}</h1> -->
  </section>
  <div class="sub-menu" id="sub-menu">
    <div class="sub-menu-container">
      <div class="sub-menu-panel" *lcmSubMenu="let nl of navLink$ | async" name="sub-menu" id="sub-menu" #subMenu>
        <a href="{{nl.main.url}}">{{nl.main.title}}</a>
        <ul>
          <li [class.empty]="!nl.description"><i>{{nl.description}}</i></li>
          <li [class.empty]="!nl.links" *ngFor="let item of nl.links"><a href="{{item.url}}">{{item.title}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>