@import "src/config.style.scss";

#flag {
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  width: 24px;
  background-image: url(https://d7kexjh30g24v.cloudfront.net/images/web/flagsprite.png);
  &.pl {
    background-position: -96px -98px;
  }
  &.en {
    background-position: -72px -42px;
  }
}

header {
  font-family: $font-family;
  background-color: $white-color;
  .sub-menu {
    background-color: white;
    width: 100%;
    height: auto;
    position: absolute;
    top: 98px;
    z-index: 7;
    padding-bottom: 15px;
    display: none;
    border-top: 1px solid #ccc;
    box-shadow: 0px 4px 4px #00000029;
    .sub-menu-container {
      width: 1200px;
      margin: 0 auto;
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 1400px) {
        width: 80%;
      }
      @media screen and (max-width: $medium-device) {
        width: 85%;
      }
      .sub-menu-panel {
        width: 210px;
        margin-right: 14px;
        padding-top: 26.6px;
        a {
          font-weight: 700;
          color: $blue-color;
          text-decoration: none;
          &:hover {
            color: $hover-color;
          }
        }
        ul {
          border-left: 1px solid #ccc;
          padding-left: 14px;
          margin-left: 7px;
          li {
            list-style-type: none;
            padding-bottom: 11px;
            margin-right: 14px;
            &.empty,
            &:last-of-type {
              padding-bottom: 0px;
              margin-right: 0px;
            }
            a {
              font-weight: 500;
            }
            i {
              font-size: 11.9px;
            }
          }
        }
      }
    }
  }
  section.header {
    @extend #main-width;
    width: 100%;
    position: relative;
    padding: 5px 0;
    height: 102px;
    z-index: 8;
    display: flex;
    align-items: baseline;
    top: 10px;
  }
  a.logo {
    width: 120px;
    height: 70px;
    display: inline-block;
    background-image: url(https://d7kexjh30g24v.cloudfront.net/images/web/logo-lot-pl.svg);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    margin: 0px 15px;
    @media (max-width: $mobile-width) {
      width: 98px;
    }
  }
  nav {
    display: block;
    white-space: nowrap;
    height: 0px;
    a {
      display: inline-block;
      margin: 0 10px;
      padding: 5px;
      color: $blue-color;
      font-size: 1.1em;
      top: -8px;
      position: relative;
      padding-bottom: 15px;
      &:hover {
        color: $hover-color;
        z-index: 5;
        border-bottom: 4px solid $blue-color;
        &:last-of-type,
        &:nth-last-of-type(2) {
          border-bottom: none;
        }
      }
      &.medium-hide {
        @media screen and (max-width: $medium-device) {
          display: none;
        }
      }
    }
  }
  .settings {
    display: inherit;
    position: absolute;
    right: 0px;
    top: 5px;
    @media (max-width: $medium-device) {
      top: 25px;
    }
    .selected-lang {
      top: 2px;
      position: relative;
      span {
        @extend #flag;
      }
    }
    a {
      font-size: 12px;
      .profile-icon {
        position: relative;
        top: 7px;
        right: 6px;
      }
    }
  }
  section.mobile-menu {
    position: absolute;
    right: 80px;
    top: 25px;
  }
  section.top-image {
    background-image: url(src\assets\dreamliner.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 337px;
    width: 100%;
    border-top: 1px solid $border-color;
    // border-bottom: 1px solid $border-color;
    @media screen and (max-width: $mobile-width) {
      background-size: cover;
      background-position: 30% 50%;
    }
    h1 {
      width: 250px;
      padding: 100px 0 0;
      margin: 0;
      margin-left: -116px;
      font-size: 2.2em;
      color: $white-color;
      font-weight: bold;
      text-shadow: 0px 0px 8px #000;
      position: absolute;
      top: 120px;
      left: 50%;
      @media (max-width: 320px) {
        left: 165px;
      }
    }
    .shadow-mask {
      background-color: black;
      height: inherit;
      opacity: 0.48;
    }
  }
}
::ng-deep .cdk-overlay-container {
  .mat-menu-content {
    color: $blue-color;
    span {
      @extend #flag;
      margin: 0 5px 0 0;
    }
  }
}
a {
  text-decoration: none;
  color: $blue-color;
  &.medium-hide--mobile {
    display: none;
    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}
