<mat-expansion-panel>
    <mat-expansion-panel-header>
        {{'root.recover'|translate}}
    </mat-expansion-panel-header>
        <div *ngFor="let invoice of invoices; let i = index">
            <div class="recoveryRecord">
                <p>{{'root.generated'|translate}}:&nbsp; {{invoice.date | date : "yyyy.MM.dd (H:mm)"}} &nbsp; | &nbsp; {{'root.ticketNo'|translate}}: {{invoice.ticketNo}}, ... </p>
                <a href="{{invoice.url}}"><button mat-flat-button color="primary">{{'root.invoice'|translate}}</button></a>
            </div>
        <mat-divider></mat-divider>   
        </div>
        <div class="buttonWrapper">
            <button class="delBtn" mat-flat-button color="warn" (click)="delBtnClicked()">{{'root.delete'|translate}}</button>
        </div>
</mat-expansion-panel>
