mat-expansion-panel *{
    font-size:1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recoveryRecord{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.delBtn{
    width:5%;
    margin:2em 0 0 0;
}
.buttonWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}