<h2 mat-dialog-title>{{ 'refresh.title' | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <p>{{ 'refresh.description' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close >{{ 'buttons.accept' | translate }}</button>
</mat-dialog-actions>
