<div>
  <div mat-dialog-title>
    {{'root.invoice' | translate}}
  </div>
  <div mat-dialog-content>
    {{'root.downloadLabel' | translate}}<br/>
    <a href="{{data.link}}">{{'root.downl' | translate}}</a>
  </div>
  <div mat-dialog-actions>
      <button mat-flat-button color="primary" (click)="closeClicked()" cdkFocusInitial>{{'root.close'|translate}}</button>
  </div>
</div>