<h1 mat-dialog-title>{{'root.ackLabel' | translate}}</h1>
<div mat-dialog-content>
    <p>
        {{'root.ackText' | translate}}
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelClicked()" cdkFocusInitial>{{'root.cancel'|translate}}</button>
    <button mat-flat-button color="primary" (click)="okClicked()" cdkFocusInitial>{{'root.confirm'|translate}}</button>
</div>
