<div>
  <header mat-dialog-title>
    {{'root.invoHelpLabel' | translate}}
  </header>
  <div class="content" mat-dialog-content>
      <ol >
        <li>{{'root.invoHelp1' | translate}}</li>
        <li>{{'root.invoHelp2' | translate}}</li>
        <li>{{'root.invoHelp3' | translate}}</li>
        <li>{{'root.invoHelp4' | translate}}</li>
        <li>{{'root.invoHelp5' | translate}}</li>
      </ol>
  </div>

  <div class="buttons" mat-dialog-actions>
      <button mat-flat-button color="primary" (click)="okClicked()" cdkFocusInitial>{{'root.confirm'|translate}}</button>
  </div>
</div>