@import "../../../config.style.scss";
.topOffsetWrapper{
    max-width: 1200px;
    margin:0 auto;
    .leftOffsetWrapper{
        max-width:900px;
        margin-right: auto;
        background-color: rgb(241,242,244);
    }
    .internalAlignmentWrapper{
        max-width:800px;
        .labelsGrp{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            label:first-child{
                font-size: 0.75em;
                font-weight: 700;
                color: $blue-color;
                margin: 0.9em 0;
            }
            label:nth-child(n+2){
                color: $error-label;
                font-size:0.8em;
                font-weight: 400;
                margin: 0.9em 2em 0.9em 1em;
            }
        }
        .cField{
            display:flex;
            flex-direction: column;
            min-width: 272px;
        }
    }
    .inputW{
        width:20em;
    }
    .inputN{
        width:10em;
    }
    .inputSN{
        width:6em;
    }
    .ticketGrp{
        display: flex;

    }
    .formTitle{
        font-weight: 400;
        font-size: 2.14286em;
        padding: 0.66667em 0 1em 0;
        margin: 40px 0px 0px 0px;
    }
    .formSubTitle{
        font-weight: 450;
        font-size: 1.2em;
        margin: 2em 0px 1.5em 0px;
    }
    .assignment-icon {
        font-family: "fontello";
        content: "\E92D";
        height: 24px;
        width: 24px;
      }
    .formContainer{
        
        margin: 1.5em 0;
        padding: 0.8em 2.5em 2.5em 2.5em;
        .noFlow{
            flex-flow: nowrap !important;
        }
        .formRow{
            margin-bottom:1em;
            display:flex;
            flex-direction: row;
            flex-flow:wrap;
            justify-content: space-between;
            mat-checkbox{
                margin-top:1em;
                margin-right:1em;
            }
            mat-radio-button, input{
                margin-right:2em;
            }
            button{
                margin-right: 2em;
            }
        }
        input[type=text]{
            padding:0.56em 0.4em;
            border: 1px solid rgb(166,166,166);
            border-radius: 3px;
        }
        button[type=submit]{
            margin-right: 2em;
        }
        .alignedRight{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    .growone{
        flex-grow:1 !important;
    }
    .growtwo{
        flex-grow:4 !important;
    }
    .growthree{
        flex-grow:9 !important;
    }
    .growfour{
        flex-grow:16 !important;
    }   
}
mat-progress-spinner{
    z-index:3 !important;
    position:fixed;
    top:calc(50vh - 50px);
    left:calc(50vw - 50px);
}

.rodotext{
    font-size:10px;
    margin-right: 2em;
}
.submitbtn{
    margin-right: 2em;
}
.invoIcon{
    margin-right: 0.2em;
    font-size:1em !important;
    mat-icon{
        width:1em !important;
        height: 0.75em !important;
    }
 
}
.topInfotext{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:1em 2em 0em 1em;
    float: right;
    p{
        
        font-size: 0.8em;
        color: #434343;
        font-style: italic;
    }
}
.contactbox{
    background-color: white;
    font-weight:400;
    font-style: normal;
    z-index:100;
    position: sticky;
    top:0;
    float:right;
    box-shadow: 0 10px 25px #caccd3;
    margin:0 0 0 2em;
    width: 100%;
    max-width:276px;
    padding:10px 25px 0px 25px;
    
}
.infobtn{
    color: #083377;
    font-size:0.5em;
    font-weight:100;
    float:right;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.infobtn:hover{
    cursor: pointer;
    color: #536c9a;
}
@media all and(max-width:1100px){
    .contactbox{
        display:none;
    }
}
.fakeInputWithPrefix{
  background-color: rgb(255,255,255);
  margin-right: 2em;
  display: flex;
  flex-grow:0;
  width:3em;
  align-items: center;
  justify-content: center;
  padding:0.56em 0.4em;
  border: 1px solid rgb(166,166,166);
  border-radius: 3px;
  font: 400 13.3333px Arial;
  user-select: none;
  input{
    border:0 !important;
    padding: initial !important;
    background-color: transparent;
    outline: 0;
  }
}
