
<div class="topOffsetWrapper">
    <aside class="contactbox">
        <app-contactbox></app-contactbox>    
    </aside>
    <h1 class="formTitle"><span class="invoIcon"><mat-icon svgIcon="invoiceCustom"></mat-icon></span>{{'root.invoice' | translate}}
        <div class="infobtn" (click)="openHelp()">
            {{'root.invoHelpLabel' | translate}} &nbsp;
            <i class="pi pi-info-circle "></i>
        </div>
    </h1>
    <div class="leftOffsetWrapper">   
            <div class="topInfotext">
                    <p>{{'root.starfieldInfo' | translate}}</p>
            </div> 
        <div class="internalAlignmentWrapper">
            <mat-progress-spinner *ngIf="this.eknfService.isLoading | async" [diameter]="100" mode="indeterminate"></mat-progress-spinner>
            <form class="formContainer" [formGroup]="inForm" (ngSubmit)="submitClicked(inForm)" >
<h3 class="formSubTitle">{{'root.invoiceData' | translate}}</h3>
                <div class="formRow"> 
                        <div class="cField">
                            <div class="labelsGrp">
                                <label for="inlan">{{'root.invoLang' | translate}} *</label>
                                <!--label for="intype" *ngIf="inForm.controls.invoLang?.errors?.required">{{'root.errorReq' | translate}}</label-->
                            </div>
                        <p-dropdown #inlan class="pControlW" [options]="invoiceLanguages" placeholder="-"  formControlName="invoLang" value="PL"></p-dropdown> 
                    </div>
                    <div class="cField">
                        <div class="labelsGrp">
                            <label for="intype">{{'root.invoType' | translate}} *</label>
                            <!--label for="intype" *ngIf="inForm.controls.invoType?.errors?.required">
                                {{'root.errorReq' | translate}}
                            </label-->
                        </div>
                        <mat-radio-group #intype formControlName="invoType">
                            <mat-radio-button color="primary" value="p">{{'root.private' | translate}}</mat-radio-button>
                            <mat-radio-button color="primary" value="f">{{'root.company' | translate}}</mat-radio-button>
                        </mat-radio-group>
                        
                    </div>
                    
                </div>
<h3 class="formSubTitle">{{'root.yourFlight' | translate}}</h3>
                <div formArrayName="tickets"> 
                    <div class="ticketGrp" *ngFor="let tkt of inForm.controls.tickets['controls']; let i = index; let last = last; let first = first">
                        <div class="cField growone">
                            <div class="labelsGrp">
                                <label for="intype">{{'root.ticketNo' | translate}}*</label>
                                <label for="intype" *ngIf="tkt.touched || tkt.dirty">
                                    <span *ngIf="tkt.errors?.required">{{'root.errorReq' | translate}}</span>
                                    <span *ngIf="(tkt.errors?.maxlength || tkt.errors?.minlength) && !tkt.errors?.required">{{'root.ticketLenInfo.0' | translate}}</span>
                                </label>
                            </div>
                            <div class="ticketGrp formRow">                                 
                                <span class="fakeInputWithPrefix">080</span>  
                                <input class="growone" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.ticketNoAdj' | translate}}" [formControlName]="i" >                       
                                <button type="button" mat-flat-button *ngIf="last" color="primary" (click)="plusClicked()">{{'root.addTkt' | translate}}</button>
                                <button type="button" mat-flat-button *ngIf="!(last&&first)" (click)="minusClicked(i)">{{'root.rmTkt' | translate}}</button>
                            </div>

                        </div>
                    </div>
                </div>
<h3 class="formSubTitle">{{'root.userData' | translate}}</h3>
                <div class="formRow">
                    <div class="cField growfour">
                        <div class="labelsGrp">
                            <label for="intype">{{'root.name' | translate}}*</label>
                            <label for="intype" *ngIf="inForm.controls.name?.errors?.required && (inForm.controls.name?.touched || inForm.controls.name?.dirty)">
                                {{'root.errorReq' | translate}}
                            </label>
                            <label for="intype" *ngIf="inForm.controls.name?.errors?.pattern && (inForm.controls.name?.touched || inForm.controls.name?.dirty)">
                              {{'root.err0' | translate}}
                            </label>
                        </div>
                        <input class="growfour" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.nameAdj' | translate}}" formControlName="name">
                    </div>
                    
                    <div class="cField growone">
                        <div class="labelsGrp">
                            <label for="intype">{{'root.country' | translate}}*</label>
                            <label for="intype" *ngIf="inForm.controls.country?.errors?.required && (inForm.controls.country?.touched || inForm.controls.country?.dirty)">
                                {{'root.errorReq' | translate}}
                            </label>
                            <label for="intype" *ngIf="inForm.controls.country?.errors?.pattern && (inForm.controls.country?.touched || inForm.controls.country?.dirty)">
                              {{'root.err0' | translate}}
                            </label>
                        </div>
                        <input class="growone" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.countryAdj' | translate}}" formControlName="country">
                    </div>
                    
                </div>
                <div class="formRow">
                    <div class="cField growfour">
                        <div class="labelsGrp">
                            <label for="intype">{{'root.city' | translate}}*</label>
                            <label for="intype" *ngIf="inForm.controls.city?.errors?.required && (inForm.controls.city?.touched || inForm.controls.city?.dirty)">
                                {{'root.errorReq' | translate}}
                            </label>
                            <label for="intype" *ngIf="inForm.controls.city?.errors?.pattern && (inForm.controls.city?.touched || inForm.controls.city?.dirty)">
                              {{'root.err0' | translate}}
                            </label>
                        </div>
                        <input class="growfour" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.cityAdj' | translate}}" formControlName="city">
                    </div>
                        
                    <div class="cField growone">
                        <div class="labelsGrp">
                            <label for="intype">{{'root.zipcode' | translate}}*</label>
                            <label for="intype" *ngIf="inForm.controls.zipcode?.errors?.required && (inForm.controls.zipcode?.touched || inForm.controls.zipcode?.dirty)">
                                {{'root.errorReq' | translate}}
                            </label>
                        </div>
                        <input class="growone" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.zipcodeAdj' | translate}}" formControlName="zipcode">
                    </div>
                        
                </div>
                <div class="formRow">
                        <div class="cField growfour">
                            <div class="labelsGrp">
                                <label for="intype">{{'root.street' | translate}}*</label>
                                <label for="intype" *ngIf="inForm.controls.street?.errors?.required && (inForm.controls.street?.touched || inForm.controls.street?.dirty)">
                                    {{'root.errorReq' | translate}}
                                </label>
                                <label for="intype" *ngIf="inForm.controls.street?.errors?.pattern && (inForm.controls.street?.touched || inForm.controls.street?.dirty)">
                                  {{'root.err0' | translate}}
                                </label>
                            </div>
                            <input class="growfour" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.streetAdj' | translate}}" formControlName="street">
                        </div>
                        
                        <div class="cField growone">
                            <div class="labelsGrp">
                                <label for="intype">{{'root.bNumber' | translate}}*</label>
                                <label for="intype" *ngIf="inForm.controls.bnumber?.errors?.required && (inForm.controls.bnumber?.touched || inForm.controls.bnumber?.dirty)">
                                    {{'root.errorReq' | translate}}
                                </label>
                            </div>
                            <input class="growone" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.bNumberAdj' | translate}}" formControlName="bnumber">
                        </div>
                        
                </div>
                <div class="formRow">
                    <div class="cField growone">
                        <div class="labelsGrp">
                            <label for="intype">{{'root.taxid' | translate}}<span *ngIf="inForm.controls.invoType?.value==='f'">*</span></label>
                            <label for="intype" *ngIf="inForm.controls.taxid?.errors?.required && (inForm.controls.taxid?.touched || inForm.controls.taxid?.dirty)">
                                {{'root.errorReq' | translate}}
                            </label>
                        </div>
                        <input class="growone" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.taxidAdj' | translate}}" formControlName="taxid">
                    </div>
                    
                </div>
                <div class="formRow">
                    <div class="cField growone">
                        <div class="labelsGrp">
                            <label for="intype">{{'root.phone' | translate}}</label>   
                        </div>
                        <input class="growone" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.phoneAdj' | translate}}" formControlName="phone">
                    </div>
                    <div class="cField growone">
                        <div class="labelsGrp">
                            <label for="intype">{{'root.mail' | translate}}*</label>
                            <label for="intype" *ngIf="(inForm.controls.email?.touched || inForm.controls.email?.dirty)">
                                <span *ngIf="inForm.controls.email?.errors?.required">{{'root.errorReq' | translate}}</span>
                                <span *ngIf="!inForm.controls.email?.errors?.required && inForm.controls.email?.errors?.email">{{'root.errorMail' | translate}}</span>
                            </label>
                        </div>
                        <input class="growone" type="text" placeholder="{{'root.pleaseEnter' | translate}}{{'root.mailAdj' | translate}}" formControlName="email">
                    </div>
                    
                </div>
                <div class="formRow noFlow">
                    <mat-checkbox color="primary" formControlName="legal"> </mat-checkbox>
                    <p class="rodotext"> 
                        {{'root.rodo' | translate}}
                    </p>
                        
                </div>
                <div class="alignedRight">
                    <button class="submitbtn" mat-flat-button color="primary" [disabled]="(!inForm.valid) || inForm.controls.legal.value===false || (this.eknfService.isLoading | async)" >{{'root.submit' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
