<header>
    <i class="pi pi-comments"></i>
</header>
<h3 class="mainh1">
    {{'root.contactLabel' | translate}}
</h3>
<h3>
    {{'root.msgUs' | translate}}
</h3>

<div class="expandableLink" (click)="wrlangToggle()"> 
    <span>{{'root.wwrite' |translate}}</span> &nbsp;
    
    <i *ngIf="wrlangOpen" class="material-icons arrows">
        keyboard_arrow_up
    </i>
    <i *ngIf="!wrlangOpen" class="material-icons arrows">
        keyboard_arrow_down
    </i>
</div>
<ul *ngIf="wrlangOpen" class="langlist">
    <li><img [src]="staticUrl+'/assets/icons/flags/pl.png'"> {{'pl' | countryCode}}</li>
    <li><img [src]="staticUrl+'/assets/icons/flags/gb.png'"> {{'en' | countryCode}}</li>
</ul>
<ul *ngIf="wrlangOpen" class="langlist">
       <li>
            <a target="_blank" href="//m.me/LOT/">
                <button class="messengerBtn">
                    <mat-icon svgIcon="fmessenger"></mat-icon>
                </button>
            </a>
       </li> 
       <li>
           <a href="{{'root.contactURL' | translate}}">
               <button class="pointlessBtn">
                    <i class="pi pi-envelope"></i>
               </button>
           </a>
       </li>
</ul>

<h3>
    {{'root.callUs' | translate}}
</h3>

<div class="expandableLink" (click)="splangToggle()"> 
    <span>{{'root.wspeak' |translate}}</span> &nbsp;
    
    <i *ngIf="splangOpen" class="material-icons arrows">
        keyboard_arrow_up
    </i>
    <i *ngIf="!splangOpen" class="material-icons arrows">
        keyboard_arrow_down
    </i>
</div>

<ul *ngIf="splangOpen" class="langlist">
        <li><img [src]="staticUrl+'/assets/icons/flags/pl.png'"> {{'pl' | countryCode}}</li>
        <li><img [src]="staticUrl+'/assets/icons/flags/gb.png'"> {{'en' | countryCode}}</li>
        <li><img [src]="staticUrl+'/assets/icons/flags/it.png'"> {{'it' | countryCode}}</li>
        <li><img [src]="staticUrl+'/assets/icons/flags/fr.png'"> {{'fr' | countryCode}}</li>
        <li><img [src]="staticUrl+'/assets/icons/flags/ko.png'"> {{'ko' | countryCode}}</li>
        <li><img [src]="staticUrl+'/assets/icons/flags/zh.png'"> {{'zh' | countryCode}}</li>
        <li><img [src]="staticUrl+'/assets/icons/flags/es.png'"> {{'es' | countryCode}}</li>
        <li><img [src]="staticUrl+'/assets/icons/flags/de.png'"> {{'de' | countryCode}}</li>
        <li><img [src]="staticUrl+'/assets/icons/flags/ru.png'"> {{'ru' | countryCode}}</li>
        <li><img [src]="staticUrl+'/assets/icons/flags/ja.png'"> {{'ja' | countryCode}}</li>
</ul>


<h2 *ngIf="splangOpen" class="mainh1">
    +48 22 577 77 55
</h2>
<div class="wspace" *ngIf="!splangOpen"></div>