header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    i{
        font-size:4.5em;
        color: #083377;
    }
}
h1, h2, h3{
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1em !important;
}
.mainh1{
    color: #083377;
    margin-bottom: 1.5em;
}
span{
    color: #083377;
}
.expandableLink{
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.arrows{
    font-size:1.4em !important;
    color: #536c9a;
}
.expandableLink:hover *{
    cursor:pointer;
    color:#484f5eb4;
}
.langlist{
    margin-top: 15px;
    text-decoration: none;
    list-style: none;
    width:100%;
    padding:0;
    column-count: 2;
    img{
        margin-right:1em;
    }
    li{
        color: rgb(67,67,67);
        width:100px;
        white-space: nowrap;
        margin-bottom: 8px;
        font-size:14px;
    }
    .messengerBtn{
        height:55px;
        width:80px;
        background-color: rgb(0,132,255);
        padding:4px 5px;
        color:white;
        border: 0;
        border-radius: 4px;
        padding:0 10px;
        font-size:2.3em;
        display:flex;
        justify-content: center;
        align-items: center;
        mat-icon{
            display:flex !important;
            justify-content: center;
            align-items: center;
        }
    }
    .messengerBtn:hover{
        cursor: pointer;
    }
    .pointlessBtn{
        height:55px;
        width:80px;
        color:white;
        border: 0;
        border-radius: 4px;
        padding:0 10px;
        background-color: rgb(8,51,119);
        font-size:2em;
        display:flex;
        justify-content: center;
        align-items: stretch;
    }
    .pointlessBtn:hover{
        cursor: pointer;
    }
}
.wspace{
    height:1em;
    width:100%;
}