$font-family: "Lato", sans-serif;
// Media
$medium-device: 1160px;
$break-lg: 1024px;
$mobile-width: 870px;
$break-md: 850px;
$break-sm: 580px;

// Colours
$main-color: #083377;
$error-color: #e22730 !default;
$green-color: #008500;
$white-color: white;
$bg-grey: #f1f2f2;
$dirty-white: #eaeaea;
$faded: #d1d3d4;
$main-font:#221f1f;
$error-hover: #e7474f;
$error-msg: #df8a87;
$error-label: #d13529;
$grey-color: #999;
$blue-color: #093479;
$hover-color: #536c9a;
$border-color: #ddd;
$form-border-color: #b9c2cf;

#button {
  height: 47px;
  background-color: $error-color;
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

#card {
  font-family: $font-family;
  border-radius: 6px;
  border: 3px solid #666;
  box-shadow: none;
  width: 60%;
  min-width: 300px;
  margin: 5% auto;
}

#main-width {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  @media (max-width: $mobile-width) {
    width: 98%;
  }
}

.mobile-show {
  display: none;
  @media (max-width: $medium-device) {
    display: block;
  }
}

.mobile-hide {
  display: block;
  @media (max-width: $mobile-width) {
    display: none !important;
  }
}
