@import "src/config.style.scss";

footer {
  font-family: $font-family;
  position: relative;
  bottom: -65px;
  section.footer {
    @extend #main-width;
    .clear {
      clear: both;
    }
  }
  .titles {
    font-size: 0.8em;
    color: #434343;
    padding: 15px 0 10px;
    .app-title {
      float: left;
    }
    .visit-title {
      float: right;
    }
  }
  .app-social {
    .apps {
      float: left;
      a {
        display: inline-block;
      }
      .app-store {
        margin: 0 6px 0 20px;
        @media (max-width: $mobile-width) {
          margin-left: 0;
        }
      }
      .google-play {
        margin: 0 0 0 6px;
      }
    }
    .social {
      float: right;
      a {
        float: left;
        margin: 0 0 0 10px;
        background-image: url('https://d7kexjh30g24v.cloudfront.net/apps/eknf-invoices/assets/icons/social.png');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        display: inline-block;
        background-size: 400%;
        &.facebook {
          background-position: -4px -5px;
        }
        &.linkedin {
          background-position: -52px -48px;
        }
        &.instagram {
          background-position: -52px -4px;
        }
      }
    }
  }
  .links {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px 0 15px 0;
    margin: 15px 0 15px 0;
    ul {
      padding: 0;
      margin: 0 auto;
      max-width:1200px;
      display:flex;
      flex-flow: wrap;
      li {
        justify-content: space-between;
        display: inline-block;
        margin: 0 auto;
        font-size: 0.8em;
        a {
          padding: 0 5px;
          color: $blue-color;
          text-decoration: none;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }
  .copy-rights {
    .copy {
      color: #434343;
      float: left;
      font-size: 0.75em;
    }
    .staralliance {
      float: right;
      border: 1px solid #f0f0f0;
      border-radius: 0.25em;
      box-shadow: 0px -1px 2px gray;
    }
  }
}
