<footer>
  <section class="footer">
    <div class="titles">
      <div class="app-title">{{ 'footer.download' | translate }}</div>
      <div class="visit-title mobile-hide">{{ 'footer.social' | translate }}</div>
      <div class="clear"></div>
    </div>
    <div class="app-social">
      <div class="apps">
        <a href="https://www.lot.com" class="mobile-hide">
          <img alt="LOT logo" src="https://do4r85wsrjs5z.cloudfront.net/jmbeqcodsgmnjj/a/app.png">
        </a>
        <a class="app-store" href="https://itunes.apple.com/pl/app/lot-mobile/id687455276?mt=8">
          <img alt="App Store" src="https://do4r85wsrjs5z.cloudfront.net/jmbeqcodsgmnjj/a/appstore.png">
        </a>
        <a class="google-play" href="https://play.google.com/store/apps/details?id=pl.lot.mobile">
          <img alt="Google Play" src="https://do4r85wsrjs5z.cloudfront.net/jmbeqcodsgmnjj/a/googleplay.png">
        </a>
      </div>
      <div class="social mobile-hide">
        <a class="facebook" target="_blank"
          href="https://media-lot.ipresso.pl/monitorlink/d6357a5292974a76a45fd20e488a2dd8/b6cfd500c3e0916b283a277db1bd3b77/redirect/https/www.facebook.com/PllLOT"></a>
        <a class="linkedin" target="_blank" href="https://linkd.in/1fQxUlg"></a>
        <a class="instagram" target="_blank" href="https://instagram.com/flylot"></a>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  <div class="links">
    <ul>
      <li><a href="{{ 'footer.links.first.url' | translate }}">{{ 'footer.links.first.title' | translate }}</a></li>
      <li><a href="{{ 'footer.links.second.url' | translate }}">{{ 'footer.links.second.title' | translate }}</a></li>
      <li><a href="{{ 'footer.links.third.url' | translate }}">{{ 'footer.links.third.title' | translate }}</a></li>
      <li><a href="{{ 'footer.links.fourth.url' | translate }}">{{ 'footer.links.fourth.title' | translate }}</a></li>
      <li><a href="{{ 'footer.links.fifth.url' | translate }}">{{ 'footer.links.fifth.title' | translate }}</a></li>
      <li><a href="{{ 'footer.links.sixth.url' | translate }}">{{ 'footer.links.sixth.title' | translate }}</a></li>
      <li><a href="{{ 'footer.links.seventh.url' | translate }}">{{ 'footer.links.seventh.title' | translate }}</a></li>
      <li><a href="{{ 'footer.links.eight.url' | translate }}">{{ 'footer.links.eight.title' | translate }}</a></li>
      <li><a href="{{ 'footer.links.ninth.url' | translate }}">{{ 'footer.links.ninth.title' | translate }}</a></li>
      <li><a href="{{ 'footer.links.tenth.url' | translate }}">{{ 'footer.links.tenth.title' | translate }}</a></li>
    </ul>
  </div>
  <section class="footer">
    <div class="copy-rights">
      <div class="copy">&copy; {{ 'footer.copy' | translate }}</div>
      <div class="staralliance mobile-hide">
        <a href="//www.staralliance.com/en/" target="_blank">
          <img src="https://do4r85wsrjs5z.cloudfront.net/jmbeqcodsgmnjj/img/lot-star-alliance-logo.png" lang="en"
            alt="LOT A Star Alliance member">
        </a>
      </div>
    </div>
  </section>
</footer>