<h1 mat-dialog-title>{{'root.delete' | translate}}</h1>
<div mat-dialog-content>
    <p>
        {{'root.clearAck' | translate}}
    </p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelClicked()" cdkFocusInitial>{{'root.cancel'|translate}}</button>
    <button mat-button (click)="okClicked()" cdkFocusInitial>{{'root.confirm'|translate}}</button>
</div>